*{
    padding: 0;
    margin: 0;
    font-family: Bebas Neue;
}

header{
    height: 650px;
    background-image: url(Wavy\ Lines\ Wallpaper.jpg);
    background-size: cover;
}

.top-head{
    display: flex;
    height: 80px;
    transition: background-color 0.3s; 
}

.top-head:hover{
    background-color: #e6e7d9;
}

header i{
    font-size: 35px;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 10px;
}

header h1{
    font-size: 35px;
    font-weight: 600;
    padding-top: 21px;
}

.head-line{
    background-color: black;
    height: 3px;
    border: none;
}

.link-head{
    position: absolute;
    right: 50px;
    padding-top: 30px;
    font-size: 22px;
}

.link-head a{
    color: black;
    text-decoration: none;
    margin-left: 50px;
}

.btn-head{
    background-color: #e6e7d9;
    transition: all 0.3s ease 0.1s;
    position: absolute;
    bottom: 150px;
    left: 60px;
    letter-spacing: 1px;
    height: 60px;
    width: 220px;
    font-size: 25px;
    background-color: #e6e7d9; 
}

.btn-head:hover{
    background-color: transparent;
    color: #e6e7d9;
    cursor: pointer;
    border: 3.5px solid #e6e7d9;
}

.text1-head{
    position: absolute;
    left: 60px;
    bottom: 290px;
    font-weight: 500;
    font-size: 25px;
    color: #e6e7d9;
    letter-spacing: 2px;
}

.text2-head{
    position: absolute;
    left: 60px;
    font-family: arima;
    font-weight: 650;
    bottom: 220px;
    font-size: 38px;
}

.content1 {
    background-image: linear-gradient(180deg ,#eaeadd, #487b5c ,#000 60%);
    text-align: center;
    height: 500px;
    padding-top: 30px;
}

.cnt1-heading {
    font-family: arima;
}