*{
    padding: 0;
    margin: 0;
    font-family: Bebas Neue;
    box-sizing: border-box;
}

header{
    height: 650px;
    background-image: url(Wavy\ Lines\ Wallpaper.jpg);
    background-size: cover;
}

.top-head{
    display: flex;
    height: 80px;
    transition: background-color 0.3s; 
}

.top-head:hover{
    background-color: #e6e7d9;
}

header i{
    font-size: 35px;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 10px;
}

header h1{
    font-size: 35px;
    font-weight: 600;
    padding-top: 21px;
}

.head-line{
    background-color: black;
    height: 3px;
    border: none;
}

.link-head{
    position: absolute;
    right: 50px;
    padding-top: 30px;
    font-size: 22px;
}

.link-head a{
    color: black;
    text-decoration: none;
    margin-left: 50px;
}

.btn-head{
    background-color: #e6e7d9;
    transition: all 0.3s ease 0.1s;
    position: absolute;
    bottom: 150px;
    left: 60px;
    letter-spacing: 1px;
    height: 60px;
    width: 220px;
    font-size: 25px;
    background-color: #e6e7d9; 
}

.btn-head:hover{
    background-color: transparent;
    color: #e6e7d9;
    cursor: pointer;
    border: 3.5px solid #e6e7d9;
}

.text1-head{
    position: absolute;
    left: 60px;
    bottom: 290px;
    font-weight: 500;
    font-size: 25px;
    color: #e6e7d9;
    letter-spacing: 2px;
}

.text2-head{
    position: absolute;
    left: 60px;
    font-family: arima;
    font-weight: 650;
    bottom: 220px;
    font-size: 38px;
}

.content1 {
    background-image: linear-gradient(180deg ,#eaeadd, #487b5c ,#000 15%);
    text-align: center;
    height: 3000px;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
}

.cnt1-heading {
    font-family: arima;
}

@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.logos{
    overflow: hidden;
    padding: 5px 0 0 0;
    padding-bottom: 0;
    margin-left: 240px;
    background: black;
    white-space: nowrap;
    height: 70px;
    width: 1200px;
    margin-top: 130px;
    border-radius: 1rem;
    box-shadow: 5px 5px 9px #487b5c
}

.logos:before{
    position: absolute;
    width: 250px;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), black);
    content: '';
    z-index: 2;
    height: 65px;
    border-radius: 1rem;
}


.logos-slide{
    display: inline-block;
    animation: 6s slide infinite linear;
}

.logos-slide img{
    height: 70px;
    margin: 0 40px;
}

.rotate_03{
    position: absolute;
    width: 160px;
    left: 150px;
    height: 160px;
    margin: 680px 0 0 0;
    top: 100px;
    -webkit-animation: spin 5s linear infinite;
    -moz-animation: spin 5s linear infinite;
    animation: spin 5s linear infinite;
    z-index: 2;
}

/* #-webkit-keyframes spin{
    100%{-webkit-transform: rotate{360deg};}
} */
@-moz-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}

.sliding-divs{
    padding-top: 120px;
}

.sd-head{
    font-family: arima;
    color: #eaeadd;
}

ul{
    list-style-type: none;
}

.music-divs{
    display: flex;
}

.vertical-divs, .horizontal-divs{
    width: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 150px;
}

.card{
    width: 300px;
    height: 450px;
    color: black;
    border-radius: 1.5rem;
    margin: 50px;
    background: linear-gradient(180deg ,#eaeadd, #487b5c);
    box-shadow: 0 0 30px 10px rgba(211, 211, 211, 0.5);
    padding: 25px;
}

.card img{
    height: 225px;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
}

#card1{
    position: sticky;
    top: 50px;
}

#card2{
    position: sticky;
    top: 90px;
}

#card3{
    position: sticky;
    top: 130px;
}

#card4{
    position: sticky;
    top: 170px;
}

.music-title{
    font-size: 1.5rem;
    font-family: arima;
    font-weight: 700;
}

.singers{
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 14px;
}

.timeline{
    height: 10px;
    outline: none;
    border: none;
    border-radius: 1rem;
    background: darkslategray;
    text-align: center;
}

.time{
    text-align: right;
    color: darkslategray;
    font-size: 13px;
}

.pause, .forw, .back {
    font-size: 2rem;
    margin-top: 8px;
}

.back{
    margin-right: 15px;
}

.forw{
    margin-left: 15px;
}

.spotify-logo{
    margin-top: 15px;
    font-size: 1.5rem;
}